{{partial "head.html" . }}



<section class="hero is-fullheight" style="background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://res.cloudinary.com/hungryram19/image/upload/v1605403006/templates/realestate2/clean-living-room_b3bubn.jpg) no-repeat center; background-size:cover">

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title is-1 has-text-white">
          Under Construction
        </p>
        <p class="subtitle has-text-white">
          This website is currently performing maintenance, please check back again later. Thank you!
        </p>
      </div>
    </div>
  
  </section>


<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-lightbox/0.2.12/slick-lightbox.min.js"></script>
<script src="{{.Site.BaseURL}}/js/main.js"></script>
</body>
</html>